<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951555123769-hskv0hhgrh7bhk5ptnk47bs3q0vbsph2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951555123769-hskv0hhgrh7bhk5ptnk47bs3q0vbsph2</string>
	<key>API_KEY</key>
	<string>AIzaSyB8cnkh8XA0_tbvmikd7jgnrsIvsOY8ipA</string>
	<key>GCM_SENDER_ID</key>
	<string>951555123769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vveco.appvfund</string>
	<key>PROJECT_ID</key>
	<string>creditfund-8a4d9</string>
	<key>STORAGE_BUCKET</key>
	<string>creditfund-8a4d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951555123769:ios:1bdde4c04091a932c13be8</string>
</dict>
</plist>